<h1>Demo</h1>

<form style="margin-bottom: 1rem;">
  <label>
    <input type="checkbox" [(ngModel)]="truncateTextOverflow" name="overflow" />
    Truncate text overflow
  </label>

  <label>
    <input type="checkbox" [(ngModel)]="paginated" name="paginated" />
    Paginated
  </label>

  <label>
    <input type="checkbox" [(ngModel)]="severityIcon" name="severityIcon" />
    Severity Icon
  </label>

  <label>
    <input type="checkbox" [(ngModel)]="closeIcon" name="closeIcon" />
    Close Icon
  </label>

  <div style="margin-top: 1rem;">
    <label>
      <input type="radio" name="variant" [value]="AlertMessageVariants.Text" [(ngModel)]="variant" />
      Text
    </label>
    <label>
      <input type="radio" name="variant" [value]="AlertMessageVariants.Outlined" [(ngModel)]="variant" />
      Outlined
    </label>
    <label>
      <input type="radio" name="variant" [value]="AlertMessageVariants.Filled" [(ngModel)]="variant" />
      Filled
    </label>
  </div>
</form>

<h3>Severities</h3>
@if(messages1.length > 0) {
<alert-bar [messages]="messages1" [paginated]="paginated" [truncateTextOverflow]="truncateTextOverflow"
  [variant]="variant" [closeIcon]="closeIcon" [severityIcon]="severityIcon" (closeEvent)="onCloseEvent($event)">
</alert-bar>
}

<h3>Custom Template</h3>
@if(message2.length > 0) {
<alert-bar [messages]="message2" severityIcon closeIcon>
</alert-bar>
}
<ng-template #customTpl let-data>
  <div class="content">
    <div class="title">Merged pull request</div>
    <div class="description">Pull request #41 merged after a successful build</div>
    <div class="actions">
      <a>View commit</a>
      <a>Dismiss</a>
    </div>
  </div>
</ng-template>